body {
	background-color: #DEEDE3;
	height: 100%;
	width: 100%;
}
p {
	color: black;
	font-family: Verdana, sans-serif;
	font-size:10;
}

h1 {
	color: purple;
	font-family: Verdana, sans-serif;
}

h3 {
	color: purple;
	font-family: Verdana, sans-serif;
}

h4 {
	color: orange;
	font-family: Times, serif;
}

p em {
	color: purple;
	font-style: italic;
}
.issue {
	color: blue;

}

.country-of-birth {
	color: blue;
	font-style: bold;
}

.professional-life {
    color: green;
}
p.professional-life {
    color: green;
    text-decoration: underline;
}
	
.relationship-with-henry {
	color: red;
	font-style: serif;
}

.henrys-feelings-about {
	color: black;
	font-style: italic;
}

.death {
	color: black;
}
#footer {
  color: green;
  font-size: 8;
  font-style: italic;
}
